apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: metacoding
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: web
          image: metacoding/frontend:1
          ports:
            - containerPort: 80
